.Menu {
  display: flex;
  flex-direction: column;
  margin: 40px 80px;
  gap: 10px;
}

.Rive {
  height: 40px;
  margin-bottom: 40px;
}

.ExampleLink {
  color: white;  
  padding: 15px 20px;
  background-color: #303030;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.ExampleLink:hover {
  background-color: #333333;
}

.AnimationContainer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
}